{% assign feature_text = page.feature_text %}
{% assign feature_text_two = page.feature_text_two %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_text_two = collectiondata.feature_text_two %}
{% endif %}

{% if feature_text %}
  <div class="feature">
    <div class="container  typeset">
      {{ feature_text | markdownify }}
    </div>
    <div class="container  typeset">
      {{ feature_text_two | markdownify }}
  </div>
{% endif %}
